<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo!</h1>
    <form action='/quotes' method='post'>
        <label>Your Name:</label><input type='text' name='name'><br><br>
        <Label>Your Quote:</Label><textarea name='quote' rows="4" cols="50"></textarea>
        <input type='submit' value='Submit'>
    </form>
    <a href='/quotes'>Go to quotes</a>
    
</body>
</html>